@using InTN.Web.Startup
@using InTN.Products.Dto
@using InTN.Web.Models.Products

@{
    ViewBag.Title = L("Products");
    ViewBag.CurrentPageName = PageNames.Products;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Products/EditPriceCombination.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Products/EditPriceCombination.min.js" asp-append-version="true"></script>
    </environment>
 
}


@section styles {
    <style>
        .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            top: 5px !important;
        }

            .property-item {
            margin-bottom: 15px;
        }

        .property-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .property-header .remove-property-btn {
            margin-left: 10px;
        }
    </style>
}

 @model InTN.Web.Models.Products.ProductEditPriceCombinationModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("ProductPriceCombination")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                     <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <label for="property-select">Thuộc tính</label>
                                <select id="property-select" class="form-control">
                                    <option value="">-- Chọn thuộc tính --</option>
                                    @foreach (var prop in Model.ProductProperties)
                                    {
                                        <option value="@prop.Id" data-name="@prop.Name">@prop.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 text-right">
                                <button type="button" id="add-property-btn" class="btn btn-success">Thêm</button>
                            </div>
                        </div>
                    </div>

                    
                    <div class="card-body">
                         <div class="table-responsive">
                            <h6 class="mb-2">Bảng thuộc tính</h6>
                            <div id="property-values-container" class="row">
                                <!-- Từng thuộc tính sẽ được render động ở đây -->
                            </div>
                            <h6 class="mb-2">Bảng tổ hợp và giá</h6>
                            <table class="table table-bordered table-sm" id="combination-table">
                                <thead>
                                    <tr id="combination-table-header">
                                        <!-- sẽ được render tự động -->
                                    </tr>
                                </thead>
                                <tbody id="combination-table-body">
                                    <!-- sẽ được render tự động -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

